# ======================
# Python
# ======================
__pycache__/
*.py[codz]
*$py.class
*.so

# Virtual environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging / builds
build/
dist/
*.egg-info/
.eggs/
.installed.cfg
MANIFEST

# Tests / coverage
.coverage
.coverage.*
.cache/
htmlcov/
.pytest_cache/
.tox/
.nox/

# Logs / databases
*.log
*.db
*.sqlite3
*.sqlite3-journal

# ======================
# DuckDB
# ======================
*.duckdb
*.wal

# Allow Sakila DB (Evidence / Netlify / Vercel)
!dashboard/sakila.duckdb
!data/sakila.duckdb

# ======================
# Node / Frontend
# ======================
node_modules/
.next/
dist/
build/

# ======================
# Evidence / Svelte
# ======================
.svelte-kit/
.evidence/
.evidence/meta
.evidence/template
.vercel

# ======================
# Editors / OS
# ======================
.DS_Store
.vscode/settings.json
.idea/

# ======================
# Misc tools
# ======================
.ipynb_checkpoints
.mypy_cache/
.ruff_cache/
.cursorignore
.cursorindexingignore
